<router-outlet>
<div class="container text-center">
    <div class="row">
      <div class="col"></div>
      <div class="col-8">

        <br>
        <h2>Runs List: </h2>
        <br>
        <div class="list-group">
          <span *ngFor="let item of storicoServices.listaStorico">
            <a (click)="navigateToRun(item.id)" class="list-group-item list-group-item-action" *ngIf="item.endClock != null">Date: <b>{{item.date}}</b> - Start Clock: {{item.startClock}} - End Clock: {{item.endClock}} </a>
            <a (click)="navigateToRun(item.id)" class="list-group-item list-group-item-action" *ngIf="item.endClock == null">Date: <b>{{item.date}}</b> - Start Clock: {{item.startClock}} - End Clock: Running.... </a>
          </span>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</router-outlet>
